<!doctype html>
<html lang="{{ page.lang }}" dir="{{ page.text_dir }}">
<head>
{% include head-seo.html %}
<link rel="preload" as="font" type="font/woff2" href="/assets/fonts/tajawal-400-arabic.woff2" crossorigin>
<link rel="stylesheet" href="/assets/css/style.css">
</head>
<body class="lang-{{ page.lang }}">
{% include nav.html %}
<main>
{{ content }}
</main>
{% include cta-banner.html %}
{% include footer.html %}
{% include whatsapp-float.html %}
<script src="/assets/js/main.js" defer></script>
</body>
</html>
